.wp-submenu a[href="users.php?page=jobboard-profile-edit"] {
    display: none !important;
}

.jobboard-addons {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 15px;
}

.jobboard-addons h3 {
}

.jobboard-addons img {
    width: 100%;
}

.jobboard-addons .jobboard-addons-content {
    background: #fff;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}

.jobboard-addons-price {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #d54e21;
    margin: 15px;
}

.jobboard-addons-payment {
    background: #0073aa;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}