.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.metabox-prefs > label{
    line-height: 20px;
}

@media screen and (min-width:992px) {
    th.column-actions, .column-actions{
        text-align: right;
    }
}

td.column-salary, td.column-status, td.column-time, td.column-actions {
    padding-top: 25px;
}

.column-job .job-title{
    font-size: 15px;
    font-family: inherit;
    font-weight: 600;
}

.column-job > .job-type, .column-job .job-location{
    margin-top: 5px;
}

.column-job .job-type{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    line-height: 15px;
}

.column-job .job-type i{
    font-size: 15px;
}

.column-job .job-location{
    line-height: 12px;
}

.column-job .job-location i{
    font-size: 19px;
}

.column-user .user-avatar, .column-user .user-info{
    float: left;
}

.column-user .user-avatar{
    width: 40px;
    margin-right: 15px;
}
.column-user .user-avatar img{
    width: 100%;
    height: auto;
    border-radius: 40px;
    border: 3px solid #FFFFFF;
}

.column-user .user-info > * {
    display: block;
}

.column-user .user-info i {
    font-size: 15px;
    line-height: inherit;
    top: 2px;
    position: relative;
}

.column-salary{
    width: 150px;
}

.column-salary .job-salary{
    font-weight: 600;
    font-style: inherit;
}

.column-user .user-name{
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 5px;
}

.column-status{
    width: 100px;
}

.column-status .job-status{
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    line-height: 20px;
    padding: 0 12px;
    text-align: center;
    max-width: 75px;
}

.status-pending th{
    border-left: 5px solid #ffc107;
}

.column-status .job-status.pending{
    border: 1px solid #ebb207;
    background-color: #ffc107;
}

.status-publish th{
    border-left: 5px solid #38b63d;
}

.column-status .job-status.publish{
    border: 1px solid #34a539;
    background-color: #38b63d;
}

.status-draft th, .status-trash th{
    border-left: 5px solid #d82020;
}

.column-status .job-status.draft, .column-status .job-status.trash{
    border: 1px solid #bf1c1c;
    background-color: #d82020;
}

.column-time{
    width: 110px;
}

.column-actions{
    min-width: 100px;
    width: 10%;
}

.column-actions .button{
    padding: 5px 5px 0 5px;
}

.column-actions .button i{
    font-size: 15px;
}

.loop-status, .loop-actions .action {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
    border: 1px solid #ebb207;
    background-color: #ffc107;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    line-height: 29px;
    padding: 0 12px;
    text-align: center;
}

.loop-status.status-publish, .loop-actions .action.status-publish, .loop-status.action-apply, .loop-actions .action.action-apply, .loop-status.status-completed, .loop-actions .action.status-completed, .loop-status.status-approved, .loop-actions .action.status-approved {
    background-color: #80d315;
    border-color: #65b400;
}
.loop-status.status-trash, .loop-actions .action.status-trash, .loop-status.action-remove, .loop-actions .action.action-remove, .loop-status.status-reject, .loop-actions .action.status-reject, .loop-status.status-cancelled, .loop-actions .action.status-cancelled {
    background-color: #d82020;
    border-color: #bd0000;
}

.loop-actions .action-edit, .loop-actions .action-approve {
    background-color: #80d315;
    border-color: #65b400;
}

.loop-actions .action-delete, .loop-actions .action-reject {
    background-color: #d82020;
    border-color: #bd0000;
}